# INDIAN IT Companies: Revenue VS Stock Price Analysis

The Indian IT sector is a major contributor to the country’s economy, with companies like TCS, Infosys, and Wipro playing a significant role in global technology services. 

## GOAL
This project investigates the relationship between revenue growth and stock price movements of major Indian IT firms over the past decade. By analyzing historical financial data and stock market trends, this study aims to determine how strongly revenue growth influences stock performance. Additionally, the project examines the impact of key events—such as earnings reports, global recessions, and AI adoption—on IT stock prices.

## Research Questions:
1. How strongly does revenue growth impact stock prices of major Indian IT firms?
2. How do major events (earnings reports, global recessions, AI adoption) influence IT stock prices?

***
This project will analyze **three large-cap and two mid-cap Indian IT companies**, selected for their readily available, regular, and detailed financial reports. This ensures reliable data for assessing the correlation between revenue growth and stock price movements.

#### LARGE-CAP IT FIRMS (Market Cap < \\$10 Billion)
- Tata Consultancy Services (TCS)
- Infosys
- Wipro

#### MID-CAP IT FIRMS (\\$2 Billion < Market Cap < \\$10 Billion)
- Persistent Systems
- Mphasis
***

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import time

***

### DATA COLLECTION
The revenues and revenue growth rate of the companies was collected from respective annual reports

#### LARGE CAPS

In [2]:
tickets = ["TCS.NS", "INFY.NS", "WIPRO.NS"]
start_date = "2013-04-01"
end_date = "2025-03-31"

In [3]:
data = yf.download(tickets,start=start_date,end=end_date)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  3 of 3 completed

3 Failed downloads:
['INFY.NS', 'WIPRO.NS', 'TCS.NS']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

In [5]:
closing_prices = data['Close']
yearly_prices = closing_prices.resample('YS-APR').last()
returns = yearly_prices.pct_change() * 100
returns.columns = ["TCS_Return", "INFY_Return", "WIPRO_Return"]
result = pd.concat([yearly_prices, returns], axis=1)
result = result.dropna()
result

,INFY.NS,TCS.NS,WIPRO.NS,TCS_Return,INFY_Return,WIPRO_Return
Date,,,,,,
2014-04-01,426.817047,1054.946411,105.917068,38.063467,21.595670,18.854461
2015-04-01,480.294250,1057.828857,98.330391,12.529304,0.273232,-7.162847
2016-04-01,412.069733,1039.676270,90.426613,-14.204733,-1.716023,-8.037981
2017-04-01,469.690002,1241.496216,99.243706,13.983136,19.411807,9.750551
2018-04-01,632.609375,1768.772461,120.578621,34.686574,42.471031,21.497500
2019-04-01,570.777283,1680.097778,93.478172,-9.774135,-5.013346,-22.475335
2020-04-01,1247.051636,2957.091064,197.704391,118.483053,76.007081,111.497922
2021-04-01,1772.524658,3517.693115,283.479187,42.137231,18.957889,43.385377
2022-04-01,1356.077026,3113.397705,178.304642,-23.494603,-11.493197,-37.101329
2023-04-01,1460.432129,3820.962891,235.372940,7.695367,22.726463,32.006064
2024-04-01,1851.949951,3873.199951,312.200012,26.808354,1.367118,32.640571

In [6]:
# result.to_csv("large_cap_stock.csv")

In [36]:
df = pd.read_excel("Largecap_rev.xlsx")
df

    COMPANY TIME PERIOD  REVENUE (in Cr)  REVENUE GROWTH RATE
0   INFOSYS  2024-04-01           153670             4.700000
1   INFOSYS  2023-04-01           146767            20.600000
2   INFOSYS  2022-04-01           121641            21.000000
3   INFOSYS  2021-04-01           100472            10.600000
4   INFOSYS  2020-04-01            90791             9.816752
5   INFOSYS  2019-04-01            82675            17.232920
6   INFOSYS  2018-04-01            70522             2.975878
7   INFOSYS  2017-04-01            68484             9.677936
8   INFOSYS  2016-04-01            62441            17.108348
9   INFOSYS  2015-04-01            53319             6.355095
10  INFOSYS  2014-04-01            50133            20.600000
11      TCS  2024-04-01           240893             6.800000
12      TCS  2023-04-01           225458            17.576687
13      TCS  2022-04-01           191754            16.797115
14      TCS  2021-04-01           164177             4.605318
15      TCS  2020-04-01           156949             7.159487
16      TCS  2019-04-01           146463            18.975013
17      TCS  2018-04-01           123104             4.355492
18      TCS  2017-04-01           117966             8.578319
19      TCS  2016-04-01           108646            14.789536
20      TCS  2015-04-01            94648            15.693872
21      TCS  2014-04-01            81809            29.877243
22    WIPRO  2024-04-01            89794            -1.253656
23    WIPRO  2023-04-01            90934            14.342118
24    WIPRO  2022-04-01            79528            27.772244
25    WIPRO  2021-04-01            62242             1.470492
26    WIPRO  2020-04-01            61340             4.132007
27    WIPRO  2019-04-01            58906             7.817333
28    WIPRO  2018-04-01            54635            -1.411119
29    WIPRO  2017-04-01            55417             7.334883
30    WIPRO  2016-04-01            51630             9.112811
31    WIPRO  2015-04-01            47318             8.125771
32    WIPRO  2014-04-01            43762            16.116536

***

#### SMALL CAP

In [3]:
tickets=["PERSISTENT.NS","MPHASIS.NS"]
start_date = "2013-04-01"
end_date = "2025-03-31"

In [4]:
data = yf.download(tickets,start=start_date,end=end_date)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 2 completed

2 Failed downloads:
['PERSISTENT.NS', 'MPHASIS.NS']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

#### Failed to get data from yfinance library, trying to get data using web scraping

In [6]:
import bs4
import requests

In [28]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36",
    "Referer": "https://www.google.com/"
}
website = requests.get('https://finance.yahoo.com/quote/PERSISTENT.NS/history/?period1=1364688000&period2=1740155246&frequency=1mo', headers=headers)
soup = bs4.BeautifulSoup(website.text, "lxml")

In [29]:
tables = soup.select('table.yf-1jecxey.noDl')

In [34]:
print(f"Total tables found: {len(tables)}")

if not tables:
    print("No tables found on the webpage. Check the HTML structure or the URL.")
else:
    table = tables[0]
    headers = [header.text.strip() for header in table.find_all("th")]
    rows = []
    for row in table.find_all("tr")[1:]:
        cols = [col.text.strip() for col in row.find_all("td")]
        if cols:
            rows.append(cols)
rows

Total tables found: 1

[['Feb 21, 2025',
  '2,640.00',
  '2,650.95',
  '2,555.50',
  '2,567.55',
  '2,567.55',
  '248,632'],
 ['Feb 1, 2025',
  '2,790.00',
  '2,896.70',
  '2,507.00',
  '2,637.25',
  '2,637.25',
  '5,490,993'],
 ['Jan 1, 2025',
  '2,859.45',
  '3,078.40',
  '2,736.50',
  '2,867.95',
  '2,867.95',
  '16,796,283'],
 ['Dec 1, 2024',
  '2,974.95',
  '3,237.95',
  '2,812.50',
  '2,847.20',
  '2,847.20',
  '9,756,722'],
 ['Nov 1, 2024',
  '2,885.00',
  '3,047.85',
  '2,751.05',
  '2,974.55',
  '2,974.55',
  '12,023,124'],
 ['Oct 1, 2024',
  '3,034.80',
  '3,144.75',
  '2,836.60',
  '2,879.55',
  '2,879.55',
  '21,246,148'],
 ['Sep 1, 2024',
  '3,104.95',
  '3,187.80',
  '2,918.55',
  '3,010.40',
  '3,010.40',
  '13,055,323'],
 ['Aug 1, 2024',
  '2,904.60',
  '3,153.00',
  '2,589.35',
  '3,104.95',
  '3,104.95',
  '14,946,217'],
 ['Jul 10, 2024', '55.00 Dividend'],
 ['Jul 1, 2024',
  '2,481.00',
  '3,080.95',
  '2,457.80',
  '2,892.50',
  '2,831.32',
  '28,083,038'],
 ['Jun 1, 2024',
  '2,368.00',
  '2,557.50',
  '2,187.00',
  '2,456.55',
  '2,404.59',
  '51,396,771'],
 ['May 1, 2024',
  '2,314.85',
  '2,481.35',
  '2,195.00',
  '2,284.10',
  '2,235.79',
  '8,055,507'],
 ['Apr 1, 2024',
  '2,401.00',
  '2,533.95',
  '2,208.45',
  '2,314.85',
  '2,265.89',
  '10,537,444'],
 ['Mar 1, 2024',
  '2,621.00',
  '2,660.75',
  '2,306.00',
  '2,388.05',
  '2,337.54',
  '8,798,286'],
 ['Feb 1, 2024',
  '2,594.00',
  '2,837.60',
  '2,472.00',
  '2,617.35',
  '2,561.99',
  '14,888,427'],
 ['Jan 1, 2024',
  '2,740.00',
  '2,775.00',
  '2,480.60',
  '2,598.50',
  '2,543.54',
  '11,764,550'],
 ['Dec 1, 2023',
  '2,366.95',
  '2,788.50',
  '2,325.55',
  '2,739.75',
  '2,681.80',
  '12,934,295'],
 ['Nov 1, 2023',
  '2,134.60',
  '2,394.00',
  '2,122.15',
  '2,354.65',
  '2,304.85',
  '8,349,694'],
 ['Oct 1, 2023',
  '2,376.60',
  '2,545.90',
  '2,069.10',
  '2,123.40',
  '2,078.49',
  '11,004,694'],
 ['Sep 1, 2023',
  '2,441.55',
  '2,552.00',
  '2,342.30',
  '2,376.60',
  '2,326.34',
  '6,820,399'],
 ['Aug 1, 2023',
  '2,295.00',
  '2,491.00',
  '2,183.00',
  '2,428.80',
  '2,377.43',
  '12,765,836'],
 ['Jul 5, 2023', '50.00 Dividend'],
 ['Jul 1, 2023',
  '1,917.00',
  '2,350.00',
  '1,850.00',
  '2,294.95',
  '2,187.78',
  '18,622,218'],
 ['Jun 1, 2023',
  '1,955.00',
  '2,040.00',
  '1,807.60',
  '1,895.05',
  '1,806.55',
  '10,906,447'],
 ['May 1, 2023',
  '1,814.45',
  '2,000.00',
  '1,806.60',
  '1,946.85',
  '1,855.93',
  '9,220,842'],
 ['Apr 1, 2023',
  '1,812.00',
  '1,847.70',
  '1,660.05',
  '1,814.45',
  '1,729.72',
  '8,191,021'],
 ['Mar 1, 2023',
  '2,035.00',
  '2,154.95',
  '1,661.20',
  '1,795.75',
  '1,711.89',
  '14,190,685'],
 ['Feb 1, 2023',
  '2,085.00',
  '2,290.00',
  '2,021.90',
  '2,035.40',
  '1,940.35',
  '8,966,793'],
 ['Jan 1, 2023',
  '1,985.00',
  '2,143.70',
  '1,932.65',
  '2,072.80',
  '1,976.00',
  '9,794,066'],
 ['Dec 1, 2022',
  '2,047.00',
  '2,176.95',
  '1,896.05',
  '1,972.80',
  '1,880.67',
  '12,024,885'],
 ['Nov 1, 2022',
  '1,988.40',
  '2,063.00',
  '1,898.00',
  '2,017.25',
  '1,923.04',
  '10,937,388'],
 ['Oct 1, 2022',
  '2,088.05',
  '2,153.60',
  '1,928.50',
  '1,978.50',
  '1,886.10',
  '9,895,063'],
 ['Sep 1, 2022',
  '2,118.00',
  '2,182.00',
  '1,981.55',
  '2,087.65',
  '1,990.16',
  '11,973,928'],
 ['Aug 1, 2022',
  '2,330.00',
  '2,444.90',
  '2,062.05',
  '2,130.95',
  '2,031.43',
  '10,735,110'],
 ['Jul 5, 2022', '46.00 Dividend'],
 ['Jul 1, 2022',
  '2,279.20',
  '2,342.00',
  '2,070.50',
  '2,299.80',
  '2,147.15',
  '13,279,303'],
 ['Jun 1, 2022',
  '2,599.00',
  '2,700.00',
  '2,112.05',
  '2,294.05',
  '2,141.78',
  '11,760,727'],
 ['May 1, 2022',
  '2,799.00',
  '2,823.00',
  '2,262.05',
  '2,593.55',
  '2,421.40',
  '9,777,885'],
 ['Apr 1, 2022',
  '3,375.00',
  '3,389.60',
  '2,698.05',
  '2,843.20',
  '2,654.48',
  '9,441,653'],
 ['Mar 1, 2022',
  '3,108.70',
  '3,465.80',
  '3,023.10',
  '3,376.85',
  '3,152.71',
  '12,375,153'],
 ['Feb 1, 2022',
  '3,140.00',
  '3,194.95',
  '2,863.45',
  '3,108.70',
  '2,902.36',
  '8,403,895'],
 ['Jan 1, 2022',
  '3,392.00',
  '3,479.00',
  '2,845.25',
  '3,106.50',
  '2,900.30',
  '13,295,911'],
 ['Dec 1, 2021',
  '2,867.80',
  '3,419.20',
  '2,851.00',
  '3,396.70',
  '3,171.24',
  '13,246,328'],
 ['Nov 1, 2021',
  '3,268.00',
  '3,494.80',
  '2,825.00',
  '2,895.15',
  '2,702.98',
  '22,954,785'],
 ['Oct 1, 2021',
  '3,109.00',
  '3,659.75',
  '2,945.55',
  '3,235.80',
  '3,021.02',
  '20,409,797'],
 ['Sep 13, 2021', '38.00 Dividend'],
 ['Sep 1, 2021',
  '2,920.20',
  '3,534.60',
  '2,811.40',
  '3,104.40',
  '2,861.55',
  '18,940,169'],
 ['Aug 1, 2021',
  '2,619.50',
  '3,001.00',
  '2,602.00',
  '2,898.10',
  '2,671.39',
  '16,287,650'],
 ['Jul 1, 2021',
  '2,136.95',
  '2,677.50',
  '2,104.00',
  '2,599.75',
  '2,396.38',
  '21,418,268'],
 ['Jun 1, 2021',
  '1,950.00',
  '2,144.30',
  '1,875.00',
  '2,134.20',
  '1,967.25',
  '13,626,272'],
 ['May 1, 2021',
  '1,764.00',
  '2,009.95',
  '1,728.00',
  '1,944.35',
  '1,792.25',
  '12,339,777'],
 ['Apr 1, 2021',
  '1,785.00',
  '1,837.45',
  '1,603.00',
  '1,764.80',
  '1,626.75',
  '11,384,451'],
 ['Mar 1, 2021',
  '1,659.90',
  '1,811.25',
  '1,575.25',
  '1,776.50',
  '1,637.53',
  '10,113,365'],
 ['Feb 1, 2021',
  '1,535.00',
  '1,787.80',
  '1,511.00',
  '1,646.90',
  '1,518.07',
  '7,086,672'],
 ['Jan 1, 2021',
  '1,549.00',
  '1,735.00',
  '1,505.00',
  '1,531.35',
  '1,411.56',
  '10,042,582'],
 ['Dec 1, 2020',
  '1,322.30',
  '1,647.00',
  '1,300.05',
  '1,539.95',
  '1,419.48',
  '10,373,748'],
 ['Nov 1, 2020',
  '1,390.00',
  '1,404.80',
  '1,281.10',
  '1,315.70',
  '1,212.78',
  '5,645,519'],
 ['Oct 1, 2020',
  '1,391.00',
  '1,464.80',
  '1,285.95',
  '1,378.70',
  '1,270.85',
  '10,629,692'],
 ['Sep 1, 2020',
  '1,091.05',
  '1,419.85',
  '1,091.05',
  '1,383.45',
  '1,275.23',
  '11,943,247'],
 ['Aug 1, 2020',
  '1,157.95',
  '1,230.00',
  '1,081.85',
  '1,103.60',
  '1,017.27',
  '5,997,542'],
 ['Jul 2, 2020', '35.00 Dividend'],
 ['Jul 1, 2020',
  '877.00',
  '1,208.80',
  '855.00',
  '1,157.95',
  '1,025.01',
  '15,988,210'],
 ['Jun 1, 2020',
  '877.65',
  '920.00',
  '822.05',
  '878.75',
  '777.86',
  '4,263,956'],
 ['May 1, 2020',
  '728.65',
  '888.75',
  '692.55',
  '860.95',
  '762.11',
  '6,373,394'],
 ['Apr 1, 2020',
  '660.00',
  '758.65',
  '646.05',
  '728.65',
  '645.00',
  '5,196,099'],
 ['Mar 1, 2020',
  '876.10',
  '893.55',
  '630.00',
  '664.45',
  '588.17',
  '12,728,540'],
 ['Feb 1, 2020',
  '915.55',
  '956.95',
  '840.00',
  '871.55',
  '771.49',
  '4,770,460'],
 ['Jan 1, 2020',
  '927.00',
  '949.70',
  '868.05',
  '929.85',
  '823.10',
  '5,804,272'],
 ['Dec 1, 2019',
  '875.60',
  '932.80',
  '832.90',
  '922.25',
  '816.37',
  '2,999,512'],
 ['Nov 1, 2019',
  '945.10',
  '954.95',
  '827.75',
  '878.35',
  '777.51',
  '4,272,717'],
 ['Oct 1, 2019',
  '957.10',
  '962.95',
  '880.10',
  '950.25',
  '841.16',
  '4,207,366'],
 ['Sep 1, 2019',
  '975.80',
  '999.35',
  '935.00',
  '957.00',
  '847.13',
  '2,615,141'],
 ['Aug 1, 2019',
  '938.00',
  '999.50',
  '905.05',
  '975.80',
  '863.77',
  '2,432,053'],
 ['Jul 11, 2019', '27.00 Dividend'],
 ['Jul 1, 2019',
  '1,010.00',
  '1,015.75',
  '890.20',
  '938.90',
  '807.34',
  '6,418,882'],
 ['Jun 1, 2019',
  '985.80',
  '1,017.90',
  '930.20',
  '1,004.10',
  '863.40',
  '3,375,252'],
 ['May 1, 2019',
  '969.40',
  '1,005.05',
  '917.55',
  '993.85',
  '854.59',
  '4,779,509'],
 ['Apr 1, 2019',
  '997.25',
  '1,017.40',
  '950.00',
  '969.40',
  '833.57',
  '3,365,633'],
 ['Mar 1, 2019',
  '1,043.55',
  '1,049.50',
  '936.45',
  '991.10',
  '852.23',
  '4,756,670'],
 ['Feb 1, 2019',
  '997.05',
  '1,063.00',
  '987.35',
  '1,041.20',
  '895.31',
  '4,412,224'],
 ['Jan 1, 2019',
  '1,019.00',
  '1,027.70',
  '858.00',
  '1,002.65',
  '862.16',
  '8,766,196'],
 ['Dec 1, 2018',
  '1,008.80',
  '1,038.00',
  '943.05',
  '1,018.45',
  '875.74',
  '6,092,477'],
 ['Nov 1, 2018',
  '993.10',
  '1,020.00',
  '882.25',
  '1,003.15',
  '862.59',
  '7,689,908'],
 ['Oct 1, 2018',
  '1,173.00',
  '1,183.00',
  '938.00',
  '986.95',
  '848.66',
  '14,555,378'],
 ['Sep 1, 2018',
  '1,268.90',
  '1,276.55',
  '1,148.10',
  '1,173.25',
  '1,008.85',
  '7,450,007'],
 ['Aug 1, 2018',
  '1,163.70',
  '1,278.80',
  '1,140.20',
  '1,260.00',
  '1,083.45',
  '8,234,260'],
 ['Jul 26, 2018', '20.00 Dividend'],
 ['Jul 1, 2018',
  '1,092.80',
  '1,248.45',
  '1,062.00',
  '1,151.75',
  '973.51',
  '8,099,622'],
 ['Jun 1, 2018',
  '1,096.90',
  '1,155.00',
  '995.00',
  '1,084.20',
  '916.41',
  '7,320,879'],
 ['May 1, 2018',
  '1,036.35',
  '1,149.90',
  '960.00',
  '1,101.10',
  '930.70',
  '31,299,455'],
 ['Apr 1, 2018',
  '839.85',
  '1,060.00',
  '838.00',
  '1,036.35',
  '875.97',
  '9,925,655'],
 ['Mar 1, 2018',
  '867.00',
  '894.65',
  '799.00',
  '837.75',
  '708.10',
  '5,337,491'],
 ['Feb 1, 2018',
  '909.85',
  '934.00',
  '812.10',
  '859.70',
  '726.65',
  '5,477,544'],
 ['Jan 1, 2018',
  '729.40',
  '925.00',
  '707.10',
  '894.85',
  '756.36',
  '7,947,303'],
 ['Dec 1, 2017',
  '732.95',
  '772.00',
  '699.05',
  '725.65',
  '613.35',
  '2,096,386'],
 ['Nov 1, 2017',
  '699.45',
  '775.00',
  '680.05',
  '728.95',
  '616.14',
  '4,354,889'],
 ['Oct 1, 2017',
  '618.70',
  '736.00',
  '605.00',
  '693.50',
  '586.18',
  '2,760,814'],
 ['Sep 1, 2017',
  '614.95',
  '641.75',
  '572.30',
  '618.70',
  '522.95',
  '1,818,917'],
 ['Aug 1, 2017',
  '602.10',
  '628.00',
  '525.50',
  '609.10',
  '514.84',
  '1,052,530'],
 ['Jul 13, 2017', '17.00 Dividend'],
 ['Jul 1, 2017',
  '594.30',
  '649.00',
  '563.10',
  '604.60',
  '496.63',
  '2,374,704'],
 ['Jun 1, 2017',
  '604.95',
  '654.00',
  '579.60',
  '599.50',
  '492.44',
  '1,767,995'],
 ['May 1, 2017',
  '536.25',
  '620.00',
  '536.25',
  '613.55',
  '503.98',
  '2,121,979'],
 ['Apr 1, 2017',
  '576.90',
  '579.50',
  '521.55',
  '536.25',
  '440.49',
  '1,493,111'],
 ['Mar 1, 2017',
  '597.50',
  '606.00',
  '565.05',
  '579.90',
  '476.34',
  '3,176,138'],
 ['Feb 1, 2017',
  '575.00',
  '597.90',
  '558.00',
  '595.10',
  '488.83',
  '4,434,406'],
 ['Jan 1, 2017',
  '555.10',
  '580.00',
  '516.00',
  '559.25',
  '459.38',
  '2,054,188'],
 ['Dec 1, 2016',
  '529.75',
  '579.90',
  '506.15',
  '565.25',
  '464.31',
  '2,181,160'],
 ['Nov 1, 2016',
  '516.00',
  '533.20',
  '465.05',
  '526.75',
  '432.68',
  '3,106,844'],
 ['Oct 19, 2016', '20.00 Dividend'],
 ['Oct 1, 2016',
  '520.10',
  '560.05',
  '501.00',
  '512.60',
  '405.63',
  '1,658,462'],
 ['Sep 1, 2016',
  '575.00',
  '576.95',
  '501.10',
  '519.65',
  '411.21',
  '2,420,884'],
 ['Aug 1, 2016',
  '541.00',
  '576.90',
  '516.60',
  '567.40',
  '448.99',
  '2,577,891'],
 ['Jul 1, 2016',
  '575.00',
  '580.00',
  '518.40',
  '540.90',
  '428.02',
  '1,794,649'],
 ['Jun 1, 2016',
  '525.95',
  '624.00',
  '515.00',
  '573.45',
  '453.78',
  '4,828,694'],
 ['May 1, 2016',
  '486.00',
  '553.00',
  '458.00',
  '524.25',
  '414.85',
  '4,512,182'],
 ['Apr 1, 2016',
  '503.00',
  '512.20',
  '451.00',
  '489.25',
  '387.15',
  '5,721,185'],
 ['Mar 1, 2016',
  '417.20',
  '518.70',
  '417.20',
  '491.80',
  '389.17',
  '4,599,111'],
 ['Feb 1, 2016',
  '460.15',
  '471.85',
  '404.10',
  '420.60',
  '332.83',
  '3,902,946'],
 ['Jan 1, 2016',
  '498.80',
  '505.00',
  '435.00',
  '456.15',
  '360.96',
  '3,983,695'],
 ['Dec 1, 2015',
  '502.05',
  '514.90',
  '458.50',
  '497.55',
  '393.72',
  '3,026,285'],
 ['Nov 1, 2015',
  '474.45',
  '525.45',
  '462.05',
  '497.00',
  '393.29',
  '6,509,598'],
 ['Oct 1, 2015',
  '413.95',
  '534.35',
  '398.15',
  '474.40',
  '375.40',
  '10,390,773'],
 ['Sep 1, 2015',
  '420.00',
  '426.40',
  '396.25',
  '410.25',
  '324.64',
  '3,948,104'],
 ['Aug 25, 2015', '16.00 Dividend'],
 ['Aug 1, 2015',
  '424.50',
  '443.20',
  '365.00',
  '422.95',
  '321.66',
  '4,701,758'],
 ['Jul 1, 2015',
  '416.00',
  '441.25',
  '365.00',
  '420.20',
  '319.57',
  '4,375,339'],
 ['Jun 1, 2015',
  '374.90',
  '427.70',
  '361.05',
  '410.75',
  '312.38',
  '2,074,198'],
 ['May 1, 2015',
  '394.95',
  '396.50',
  '368.60',
  '369.75',
  '281.20',
  '1,903,119'],
 ['Apr 1, 2015',
  '387.00',
  '407.00',
  '381.15',
  '394.95',
  '300.37',
  '1,504,672'],
 ['Mar 1, 2015',
  '380.10',
  '420.90',
  '369.00',
  '385.40',
  '293.10',
  '3,408,288'],
 ['Feb 1, 2015',
  '360.20',
  '396.15',
  '331.10',
  '383.85',
  '291.92',
  '2,653,913'],
 ['Jan 1, 2015',
  '387.95',
  '396.80',
  '358.20',
  '362.55',
  '275.73',
  '1,497,809'],
 ['Dec 1, 2014',
  '401.05',
  '413.85',
  '340.05',
  '385.45',
  '293.14',
  '1,408,846'],
 ['Nov 1, 2014',
  '403.00',
  '417.65',
  '390.20',
  '404.20',
  '307.40',
  '1,124,946'],
 ['Oct 1, 2014',
  '430.00',
  '432.85',
  '384.90',
  '400.90',
  '304.89',
  '1,913,955'],
 ['Sep 1, 2014',
  '444.00',
  '463.90',
  '427.30',
  '429.10',
  '326.34',
  '2,790,215'],
 ['Aug 1, 2014',
  '452.35',
  '469.60',
  '420.15',
  '445.60',
  '338.89',
  '3,323,240'],
 ['Jul 16, 2014', '7.00 Dividend'],
 ['Jul 1, 2014',
  '425.50',
  '476.90',
  '403.05',
  '457.35',
  '342.24',
  '5,406,005'],
 ['Jun 1, 2014',
  '443.95',
  '462.00',
  '410.75',
  '425.65',
  '318.52',
  '3,426,612'],
 ['May 1, 2014',
  '412.70',
  '449.00',
  '372.10',
  '440.90',
  '329.93',
  '2,524,102'],
 ['Apr 1, 2014',
  '400.50',
  '435.00',
  '400.00',
  '412.70',
  '308.83',
  '1,964,547'],
 ['Mar 1, 2014',
  '385.10',
  '428.00',
  '374.50',
  '404.00',
  '302.32',
  '3,614,198'],
 ['Feb 1, 2014',
  '370.45',
  '407.95',
  '366.00',
  '387.85',
  '290.24',
  '2,766,303'],
 ['Jan 22, 2014', '17.00 Dividend'],
 ['Jan 1, 2014',
  '442.00',
  '444.95',
  '366.00',
  '370.45',
  '266.04',
  '2,764,796'],
 ['Dec 1, 2013',
  '396.00',
  '445.00',
  '370.00',
  '440.00',
  '315.99',
  '1,387,880'],
 ['Nov 1, 2013', '427.50', '429.95', '389.10', '399.45', '286.87', '657,997'],
 ['Oct 1, 2013',
  '439.95',
  '466.20',
  '421.00',
  '423.40',
  '304.07',
  '1,284,130'],
 ['Sep 1, 2013',
  '423.00',
  '452.25',
  '398.70',
  '438.75',
  '315.10',
  '2,019,164'],
 ['Aug 1, 2013',
  '397.00',
  '447.00',
  '362.00',
  '420.80',
  '302.20',
  '2,162,182'],
 ['Jul 1, 2013',
  '371.95',
  '440.00',
  '360.10',
  '400.85',
  '287.88',
  '2,050,809'],
 ['Jun 1, 2013',
  '492.00',
  '502.70',
  '347.35',
  '371.95',
  '267.12',
  '2,024,875'],
 ['May 1, 2013',
  '374.15',
  '514.05',
  '369.00',
  '487.20',
  '349.89',
  '5,370,107'],
 ['Apr 1, 2013', '389.05', '403.95', '352.80', '374.15', '268.70', '944,150'],
 ['Mar 1, 2013',
  '370.00',
  '408.00',
  '366.05',
  '391.60',
  '281.23',
  '1,914,425'],
 ['Feb 1, 2013',
  '370.00',
  '384.80',
  '337.20',
  '378.75',
  '272.01',
  '1,434,105'],
 ['Jan 17, 2013', '17.00 Dividend'],
 ['Jan 1, 2013',
  '384.55',
  '419.00',
  '344.70',
  '372.95',
  '256.45',
  '4,142,413'],
 ['Dec 1, 2012',
  '390.00',
  '411.90',
  '372.30',
  '384.40',
  '264.33',
  '2,873,152'],
 ['Nov 1, 2012',
  '394.95',
  '405.00',
  '373.90',
  '388.15',
  '266.90',
  '1,311,505'],
 ['Oct 1, 2012',
  '408.50',
  '430.00',
  '378.00',
  '387.05',
  '266.15',
  '4,880,698'],
 ['Sep 1, 2012',
  '381.00',
  '411.15',
  '369.45',
  '402.40',
  '276.70',
  '2,202,420'],
 ['Aug 1, 2012',
  '397.05',
  '416.40',
  '357.50',
  '384.60',
  '264.46',
  '2,164,110'],
 ['Jul 1, 2012',
  '373.85',
  '406.40',
  '366.10',
  '397.70',
  '273.47',
  '5,347,979'],
 ['Jun 1, 2012',
  '373.00',
  '379.90',
  '316.85',
  '370.00',
  '254.42',
  '4,665,870'],
 ['May 1, 2012',
  '369.00',
  '408.70',
  '363.70',
  '375.00',
  '257.86',
  '2,268,270'],
 ['Apr 1, 2012',
  '408.00',
  '419.60',
  '357.15',
  '369.30',
  '253.94',
  '2,164,571'],
 ['Mar 1, 2012',
  '432.55',
  '439.90',
  '358.65',
  '405.10',
  '278.56',
  '5,564,707'],
 ['Feb 16, 2012', '6.50 Dividend'],
 ['Feb 1, 2012',
  '377.55',
  '439.00',
  '363.95',
  '433.40',
  '287.94',
  '10,994,773'],
 ['Feb 15, 2012', '6.50 Dividend'],
 ['Jan 1, 2012',
  '300.00',
  '388.30',
  '299.10',
  '377.45',
  '250.77',
  '4,990,705'],
 ['Dec 1, 2011',
  '324.80',
  '354.50',
  '295.30',
  '300.75',
  '199.81',
  '5,814,026'],
 ['Nov 1, 2011',
  '342.00',
  '358.00',
  '278.25',
  '324.80',
  '215.79',
  '6,689,364'],
 ['Oct 1, 2011',
  '337.25',
  '350.70',
  '310.10',
  '343.70',
  '228.35',
  '3,035,315'],
 ['Sep 1, 2011',
  '353.90',
  '366.25',
  '277.85',
  '343.75',
  '228.38',
  '6,234,550'],
 ['Aug 1, 2011',
  '454.40',
  '459.50',
  '306.20',
  '353.90',
  '235.13',
  '12,269,428'],
 ['Jul 1, 2011',
  '424.60',
  '475.90',
  '420.10',
  '448.45',
  '297.94',
  '5,518,927'],
 ['Jun 1, 2011',
  '469.10',
  '488.00',
  '418.95',
  '434.50',
  '288.68',
  '3,908,655'],
 ['May 1, 2011',
  '470.95',
  '482.05',
  '403.35',
  '468.30',
  '311.13',
  '7,515,940'],
 ['Apr 1, 2011',
  '406.15',
  '479.80',
  '403.00',
  '468.10',
  '311.00',
  '7,592,412'],
 ['Mar 1, 2011',
  '443.00',
  '474.80',
  '373.60',
  '415.25',
  '275.89',
  '24,338,997'],
 ['Feb 10, 2011', '4.00 Dividend'],
 ['Feb 1, 2011',
  '674.65',
  '695.00',
  '421.10',
  '431.50',
  '284.90',
  '20,206,049'],
 ['Jan 1, 2011',
  '681.00',
  '711.40',
  '637.50',
  '674.65',
  '445.44',
  '6,336,609'],
 ['Dec 1, 2010',
  '612.00',
  '696.00',
  '575.55',
  '672.80',
  '444.22',
  '6,493,447'],
 ['Nov 1, 2010',
  '614.45',
  '625.80',
  '546.75',
  '610.85',
  '403.32',
  '11,253,746'],
 ['Oct 1, 2010',
  '628.00',
  '672.00',
  '601.15',
  '610.40',
  '403.02',
  '6,349,739'],
 ['Sep 1, 2010',
  '624.60',
  '667.95',
  '615.60',
  '621.70',
  '410.48',
  '8,582,596'],
 ['Aug 1, 2010',
  '592.00',
  '637.20',
  '567.25',
  '620.80',
  '409.89',
  '12,236,547'],
 ['Jul 1, 2010',
  '555.00',
  '644.80',
  '554.20',
  '590.85',
  '390.11',
  '8,653,653'],
 ['Jun 1, 2010',
  '570.00',
  '613.00',
  '543.20',
  '563.50',
  '372.05',
  '11,652,541'],
 ['May 1, 2010',
  '672.00',
  '696.30',
  '560.00',
  '571.85',
  '377.57',
  '12,794,610'],
 ['Apr 1, 2010',
  '621.00',
  '687.20',
  '615.00',
  '680.75',
  '449.47',
  '12,153,769'],
 ['Mar 1, 2010',
  '662.95',
  '689.00',
  '610.00',
  '620.45',
  '409.66',
  '14,590,403'],
 ['Feb 10, 2010', '3.50 Dividend'],
 ['Feb 1, 2010',
  '657.25',
  '780.00',
  '655.50',
  '662.95',
  '435.60',
  '14,275,342'],
 ['Jan 1, 2010',
  '723.00',
  '753.00',
  '634.00',
  '678.60',
  '445.88',
  '13,212,479'],
 ['Dec 1, 2009',
  '687.00',
  '748.20',
  '662.05',
  '724.20',
  '475.84',
  '16,325,972'],
 ['Nov 1, 2009',
  '674.00',
  '796.50',
  '644.50',
  '677.00',
  '444.83',
  '21,137,100'],
 ['Oct 1, 2009',
  '660.00',
  '705.90',
  '605.25',
  '675.60',
  '443.91',
  '15,836,455'],
 ['Sep 1, 2009',
  '596.10',
  '672.55',
  '552.40',
  '666.90',
  '438.19',
  '21,532,714'],
 ['Aug 1, 2009',
  '480.00',
  '604.00',
  '460.30',
  '556.80',
  '365.85',
  '31,046,790'],
 ['Jul 1, 2009',
  '393.00',
  '504.95',
  '332.00',
  '477.00',
  '313.42',
  '15,856,357'],
 ['Jun 1, 2009',
  '338.00',
  '416.05',
  '283.40',
  '387.15',
  '254.38',
  '9,185,797'],
 ['May 1, 2009',
  '224.50',
  '342.00',
  '218.10',
  '336.90',
  '221.36',
  '9,205,503'],
 ['Apr 1, 2009',
  '199.15',
  '242.40',
  '195.10',
  '224.50',
  '147.51',
  '4,570,680'],
 ['Mar 1, 2009',
  '165.90',
  '210.00',
  '162.75',
  '203.25',
  '133.55',
  '15,219,804'],
 ['Feb 1, 2009',
  '149.00',
  '178.85',
  '141.00',
  '168.50',
  '110.71',
  '4,992,712'],
 ['Jan 22, 2009', '2.00 Dividend'],
 ['Jan 1, 2009', '158.80', '175.00', '141.85', '149.85', '97.15', '2,329,662'],
 ['Dec 1, 2008',
  '155.50',
  '174.95',
  '138.25',
  '155.60',
  '100.87',
  '2,073,207'],
 ['Nov 1, 2008', '160.25', '175.35', '146.50', '151.90', '98.48', '3,789,880'],
 ['Oct 1, 2008',
  '191.50',
  '201.90',
  '115.60',
  '160.60',
  '104.12',
  '3,060,143'],
 ['Sep 1, 2008',
  '240.00',
  '253.00',
  '165.00',
  '187.90',
  '121.81',
  '4,093,270'],
 ['Aug 1, 2008',
  '207.50',
  '247.00',
  '203.05',
  '242.80',
  '157.40',
  '4,822,440'],
 ['Jul 16, 2008', '3.30 Dividend'],
 ['Jul 1, 2008',
  '213.05',
  '220.00',

In [31]:
import csv
filename = "persistent_stk.csv"
with open(filename, "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(headers)  # Write headers
    writer.writerows(rows)  # Write rows

print(f"Data saved to {filename}")

Data saved to persistent_stk.csv

In [32]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36",
    "Referer": "https://www.google.com/"
}
website = requests.get('https://finance.yahoo.com/quote/MPHASIS.NS/history/?frequency=1mo&period1=1025495100&period2=1740157674', headers=headers)
soup = bs4.BeautifulSoup(website.text, "lxml")

In [33]:
tables = soup.select('table.yf-1jecxey.noDl')
print(f"Total tables found: {len(tables)}")

Total tables found: 1

In [35]:
if not tables:
    print("No tables found on the webpage. Check the HTML structure or the URL.")
else:
    table = tables[0]
    headers = [header.text.strip() for header in table.find_all("th")]
    rows = []
    for row in table.find_all("tr")[1:]:
        cols = [col.text.strip() for col in row.find_all("td")]
        if cols:
            rows.append(cols)
rows

[['Feb 21, 2025',
  '2,640.00',
  '2,650.95',
  '2,555.50',
  '2,567.55',
  '2,567.55',
  '248,632'],
 ['Feb 1, 2025',
  '2,790.00',
  '2,896.70',
  '2,507.00',
  '2,637.25',
  '2,637.25',
  '5,490,993'],
 ['Jan 1, 2025',
  '2,859.45',
  '3,078.40',
  '2,736.50',
  '2,867.95',
  '2,867.95',
  '16,796,283'],
 ['Dec 1, 2024',
  '2,974.95',
  '3,237.95',
  '2,812.50',
  '2,847.20',
  '2,847.20',
  '9,756,722'],
 ['Nov 1, 2024',
  '2,885.00',
  '3,047.85',
  '2,751.05',
  '2,974.55',
  '2,974.55',
  '12,023,124'],
 ['Oct 1, 2024',
  '3,034.80',
  '3,144.75',
  '2,836.60',
  '2,879.55',
  '2,879.55',
  '21,246,148'],
 ['Sep 1, 2024',
  '3,104.95',
  '3,187.80',
  '2,918.55',
  '3,010.40',
  '3,010.40',
  '13,055,323'],
 ['Aug 1, 2024',
  '2,904.60',
  '3,153.00',
  '2,589.35',
  '3,104.95',
  '3,104.95',
  '14,946,217'],
 ['Jul 10, 2024', '55.00 Dividend'],
 ['Jul 1, 2024',
  '2,481.00',
  '3,080.95',
  '2,457.80',
  '2,892.50',
  '2,831.32',
  '28,083,038'],
 ['Jun 1, 2024',
  '2,368.00',
  '2,557.50',
  '2,187.00',
  '2,456.55',
  '2,404.59',
  '51,396,771'],
 ['May 1, 2024',
  '2,314.85',
  '2,481.35',
  '2,195.00',
  '2,284.10',
  '2,235.79',
  '8,055,507'],
 ['Apr 1, 2024',
  '2,401.00',
  '2,533.95',
  '2,208.45',
  '2,314.85',
  '2,265.89',
  '10,537,444'],
 ['Mar 1, 2024',
  '2,621.00',
  '2,660.75',
  '2,306.00',
  '2,388.05',
  '2,337.54',
  '8,798,286'],
 ['Feb 1, 2024',
  '2,594.00',
  '2,837.60',
  '2,472.00',
  '2,617.35',
  '2,561.99',
  '14,888,427'],
 ['Jan 1, 2024',
  '2,740.00',
  '2,775.00',
  '2,480.60',
  '2,598.50',
  '2,543.54',
  '11,764,550'],
 ['Dec 1, 2023',
  '2,366.95',
  '2,788.50',
  '2,325.55',
  '2,739.75',
  '2,681.80',
  '12,934,295'],
 ['Nov 1, 2023',
  '2,134.60',
  '2,394.00',
  '2,122.15',
  '2,354.65',
  '2,304.85',
  '8,349,694'],
 ['Oct 1, 2023',
  '2,376.60',
  '2,545.90',
  '2,069.10',
  '2,123.40',
  '2,078.49',
  '11,004,694'],
 ['Sep 1, 2023',
  '2,441.55',
  '2,552.00',
  '2,342.30',
  '2,376.60',
  '2,326.34',
  '6,820,399'],
 ['Aug 1, 2023',
  '2,295.00',
  '2,491.00',
  '2,183.00',
  '2,428.80',
  '2,377.43',
  '12,765,836'],
 ['Jul 5, 2023', '50.00 Dividend'],
 ['Jul 1, 2023',
  '1,917.00',
  '2,350.00',
  '1,850.00',
  '2,294.95',
  '2,187.78',
  '18,622,218'],
 ['Jun 1, 2023',
  '1,955.00',
  '2,040.00',
  '1,807.60',
  '1,895.05',
  '1,806.55',
  '10,906,447'],
 ['May 1, 2023',
  '1,814.45',
  '2,000.00',
  '1,806.60',
  '1,946.85',
  '1,855.93',
  '9,220,842'],
 ['Apr 1, 2023',
  '1,812.00',
  '1,847.70',
  '1,660.05',
  '1,814.45',
  '1,729.72',
  '8,191,021'],
 ['Mar 1, 2023',
  '2,035.00',
  '2,154.95',
  '1,661.20',
  '1,795.75',
  '1,711.89',
  '14,190,685'],
 ['Feb 1, 2023',
  '2,085.00',
  '2,290.00',
  '2,021.90',
  '2,035.40',
  '1,940.35',
  '8,966,793'],
 ['Jan 1, 2023',
  '1,985.00',
  '2,143.70',
  '1,932.65',
  '2,072.80',
  '1,976.00',
  '9,794,066'],
 ['Dec 1, 2022',
  '2,047.00',
  '2,176.95',
  '1,896.05',
  '1,972.80',
  '1,880.67',
  '12,024,885'],
 ['Nov 1, 2022',
  '1,988.40',
  '2,063.00',
  '1,898.00',
  '2,017.25',
  '1,923.04',
  '10,937,388'],
 ['Oct 1, 2022',
  '2,088.05',
  '2,153.60',
  '1,928.50',
  '1,978.50',
  '1,886.10',
  '9,895,063'],
 ['Sep 1, 2022',
  '2,118.00',
  '2,182.00',
  '1,981.55',
  '2,087.65',
  '1,990.16',
  '11,973,928'],
 ['Aug 1, 2022',
  '2,330.00',
  '2,444.90',
  '2,062.05',
  '2,130.95',
  '2,031.43',
  '10,735,110'],
 ['Jul 5, 2022', '46.00 Dividend'],
 ['Jul 1, 2022',
  '2,279.20',
  '2,342.00',
  '2,070.50',
  '2,299.80',
  '2,147.15',
  '13,279,303'],
 ['Jun 1, 2022',
  '2,599.00',
  '2,700.00',
  '2,112.05',
  '2,294.05',
  '2,141.78',
  '11,760,727'],
 ['May 1, 2022',
  '2,799.00',
  '2,823.00',
  '2,262.05',
  '2,593.55',
  '2,421.40',
  '9,777,885'],
 ['Apr 1, 2022',
  '3,375.00',
  '3,389.60',
  '2,698.05',
  '2,843.20',
  '2,654.48',
  '9,441,653'],
 ['Mar 1, 2022',
  '3,108.70',
  '3,465.80',
  '3,023.10',
  '3,376.85',
  '3,152.71',
  '12,375,153'],
 ['Feb 1, 2022',
  '3,140.00',
  '3,194.95',
  '2,863.45',
  '3,108.70',
  '2,902.36',
  '8,403,895'],
 ['Jan 1, 2022',
  '3,392.00',
  '3,479.00',
  '2,845.25',
  '3,106.50',
  '2,900.30',
  '13,295,911'],
 ['Dec 1, 2021',
  '2,867.80',
  '3,419.20',
  '2,851.00',
  '3,396.70',
  '3,171.24',
  '13,246,328'],
 ['Nov 1, 2021',
  '3,268.00',
  '3,494.80',
  '2,825.00',
  '2,895.15',
  '2,702.98',
  '22,954,785'],
 ['Oct 1, 2021',
  '3,109.00',
  '3,659.75',
  '2,945.55',
  '3,235.80',
  '3,021.02',
  '20,409,797'],
 ['Sep 13, 2021', '38.00 Dividend'],
 ['Sep 1, 2021',
  '2,920.20',
  '3,534.60',
  '2,811.40',
  '3,104.40',
  '2,861.55',
  '18,940,169'],
 ['Aug 1, 2021',
  '2,619.50',
  '3,001.00',
  '2,602.00',
  '2,898.10',
  '2,671.39',
  '16,287,650'],
 ['Jul 1, 2021',
  '2,136.95',
  '2,677.50',
  '2,104.00',
  '2,599.75',
  '2,396.38',
  '21,418,268'],
 ['Jun 1, 2021',
  '1,950.00',
  '2,144.30',
  '1,875.00',
  '2,134.20',
  '1,967.25',
  '13,626,272'],
 ['May 1, 2021',
  '1,764.00',
  '2,009.95',
  '1,728.00',
  '1,944.35',
  '1,792.25',
  '12,339,777'],
 ['Apr 1, 2021',
  '1,785.00',
  '1,837.45',
  '1,603.00',
  '1,764.80',
  '1,626.75',
  '11,384,451'],
 ['Mar 1, 2021',
  '1,659.90',
  '1,811.25',
  '1,575.25',
  '1,776.50',
  '1,637.53',
  '10,113,365'],
 ['Feb 1, 2021',
  '1,535.00',
  '1,787.80',
  '1,511.00',
  '1,646.90',
  '1,518.07',
  '7,086,672'],
 ['Jan 1, 2021',
  '1,549.00',
  '1,735.00',
  '1,505.00',
  '1,531.35',
  '1,411.56',
  '10,042,582'],
 ['Dec 1, 2020',
  '1,322.30',
  '1,647.00',
  '1,300.05',
  '1,539.95',
  '1,419.48',
  '10,373,748'],
 ['Nov 1, 2020',
  '1,390.00',
  '1,404.80',
  '1,281.10',
  '1,315.70',
  '1,212.78',
  '5,645,519'],
 ['Oct 1, 2020',
  '1,391.00',
  '1,464.80',
  '1,285.95',
  '1,378.70',
  '1,270.85',
  '10,629,692'],
 ['Sep 1, 2020',
  '1,091.05',
  '1,419.85',
  '1,091.05',
  '1,383.45',
  '1,275.23',
  '11,943,247'],
 ['Aug 1, 2020',
  '1,157.95',
  '1,230.00',
  '1,081.85',
  '1,103.60',
  '1,017.27',
  '5,997,542'],
 ['Jul 2, 2020', '35.00 Dividend'],
 ['Jul 1, 2020',
  '877.00',
  '1,208.80',
  '855.00',
  '1,157.95',
  '1,025.01',
  '15,988,210'],
 ['Jun 1, 2020',
  '877.65',
  '920.00',
  '822.05',
  '878.75',
  '777.86',
  '4,263,956'],
 ['May 1, 2020',
  '728.65',
  '888.75',
  '692.55',
  '860.95',
  '762.11',
  '6,373,394'],
 ['Apr 1, 2020',
  '660.00',
  '758.65',
  '646.05',
  '728.65',
  '645.00',
  '5,196,099'],
 ['Mar 1, 2020',
  '876.10',
  '893.55',
  '630.00',
  '664.45',
  '588.17',
  '12,728,540'],
 ['Feb 1, 2020',
  '915.55',
  '956.95',
  '840.00',
  '871.55',
  '771.49',
  '4,770,460'],
 ['Jan 1, 2020',
  '927.00',
  '949.70',
  '868.05',
  '929.85',
  '823.10',
  '5,804,272'],
 ['Dec 1, 2019',
  '875.60',
  '932.80',
  '832.90',
  '922.25',
  '816.37',
  '2,999,512'],
 ['Nov 1, 2019',
  '945.10',
  '954.95',
  '827.75',
  '878.35',
  '777.51',
  '4,272,717'],
 ['Oct 1, 2019',
  '957.10',
  '962.95',
  '880.10',
  '950.25',
  '841.16',
  '4,207,366'],
 ['Sep 1, 2019',
  '975.80',
  '999.35',
  '935.00',
  '957.00',
  '847.13',
  '2,615,141'],
 ['Aug 1, 2019',
  '938.00',
  '999.50',
  '905.05',
  '975.80',
  '863.77',
  '2,432,053'],
 ['Jul 11, 2019', '27.00 Dividend'],
 ['Jul 1, 2019',
  '1,010.00',
  '1,015.75',
  '890.20',
  '938.90',
  '807.34',
  '6,418,882'],
 ['Jun 1, 2019',
  '985.80',
  '1,017.90',
  '930.20',
  '1,004.10',
  '863.40',
  '3,375,252'],
 ['May 1, 2019',
  '969.40',
  '1,005.05',
  '917.55',
  '993.85',
  '854.59',
  '4,779,509'],
 ['Apr 1, 2019',
  '997.25',
  '1,017.40',
  '950.00',
  '969.40',
  '833.57',
  '3,365,633'],
 ['Mar 1, 2019',
  '1,043.55',
  '1,049.50',
  '936.45',
  '991.10',
  '852.23',
  '4,756,670'],
 ['Feb 1, 2019',
  '997.05',
  '1,063.00',
  '987.35',
  '1,041.20',
  '895.31',
  '4,412,224'],
 ['Jan 1, 2019',
  '1,019.00',
  '1,027.70',
  '858.00',
  '1,002.65',
  '862.16',
  '8,766,196'],
 ['Dec 1, 2018',
  '1,008.80',
  '1,038.00',
  '943.05',
  '1,018.45',
  '875.74',
  '6,092,477'],
 ['Nov 1, 2018',
  '993.10',
  '1,020.00',
  '882.25',
  '1,003.15',
  '862.59',
  '7,689,908'],
 ['Oct 1, 2018',
  '1,173.00',
  '1,183.00',
  '938.00',
  '986.95',
  '848.66',
  '14,555,378'],
 ['Sep 1, 2018',
  '1,268.90',
  '1,276.55',
  '1,148.10',
  '1,173.25',
  '1,008.85',
  '7,450,007'],
 ['Aug 1, 2018',
  '1,163.70',
  '1,278.80',
  '1,140.20',
  '1,260.00',
  '1,083.45',
  '8,234,260'],
 ['Jul 26, 2018', '20.00 Dividend'],
 ['Jul 1, 2018',
  '1,092.80',
  '1,248.45',
  '1,062.00',
  '1,151.75',
  '973.51',
  '8,099,622'],
 ['Jun 1, 2018',
  '1,096.90',
  '1,155.00',
  '995.00',
  '1,084.20',
  '916.41',
  '7,320,879'],
 ['May 1, 2018',
  '1,036.35',
  '1,149.90',
  '960.00',
  '1,101.10',
  '930.70',
  '31,299,455'],
 ['Apr 1, 2018',
  '839.85',
  '1,060.00',
  '838.00',
  '1,036.35',
  '875.97',
  '9,925,655'],
 ['Mar 1, 2018',
  '867.00',
  '894.65',
  '799.00',
  '837.75',
  '708.10',
  '5,337,491'],
 ['Feb 1, 2018',
  '909.85',
  '934.00',
  '812.10',
  '859.70',
  '726.65',
  '5,477,544'],
 ['Jan 1, 2018',
  '729.40',
  '925.00',
  '707.10',
  '894.85',
  '756.36',
  '7,947,303'],
 ['Dec 1, 2017',
  '732.95',
  '772.00',
  '699.05',
  '725.65',
  '613.35',
  '2,096,386'],
 ['Nov 1, 2017',
  '699.45',
  '775.00',
  '680.05',
  '728.95',
  '616.14',
  '4,354,889'],
 ['Oct 1, 2017',
  '618.70',
  '736.00',
  '605.00',
  '693.50',
  '586.18',
  '2,760,814'],
 ['Sep 1, 2017',
  '614.95',
  '641.75',
  '572.30',
  '618.70',
  '522.95',
  '1,818,917'],
 ['Aug 1, 2017',
  '602.10',
  '628.00',
  '525.50',
  '609.10',
  '514.84',
  '1,052,530'],
 ['Jul 13, 2017', '17.00 Dividend'],
 ['Jul 1, 2017',
  '594.30',
  '649.00',
  '563.10',
  '604.60',
  '496.63',
  '2,374,704'],
 ['Jun 1, 2017',
  '604.95',
  '654.00',
  '579.60',
  '599.50',
  '492.44',
  '1,767,995'],
 ['May 1, 2017',
  '536.25',
  '620.00',
  '536.25',
  '613.55',
  '503.98',
  '2,121,979'],
 ['Apr 1, 2017',
  '576.90',
  '579.50',
  '521.55',
  '536.25',
  '440.49',
  '1,493,111'],
 ['Mar 1, 2017',
  '597.50',
  '606.00',
  '565.05',
  '579.90',
  '476.34',
  '3,176,138'],
 ['Feb 1, 2017',
  '575.00',
  '597.90',
  '558.00',
  '595.10',
  '488.83',
  '4,434,406'],
 ['Jan 1, 2017',
  '555.10',
  '580.00',
  '516.00',
  '559.25',
  '459.38',
  '2,054,188'],
 ['Dec 1, 2016',
  '529.75',
  '579.90',
  '506.15',
  '565.25',
  '464.31',
  '2,181,160'],
 ['Nov 1, 2016',
  '516.00',
  '533.20',
  '465.05',
  '526.75',
  '432.68',
  '3,106,844'],
 ['Oct 19, 2016', '20.00 Dividend'],
 ['Oct 1, 2016',
  '520.10',
  '560.05',
  '501.00',
  '512.60',
  '405.63',
  '1,658,462'],
 ['Sep 1, 2016',
  '575.00',
  '576.95',
  '501.10',
  '519.65',
  '411.21',
  '2,420,884'],
 ['Aug 1, 2016',
  '541.00',
  '576.90',
  '516.60',
  '567.40',
  '448.99',
  '2,577,891'],
 ['Jul 1, 2016',
  '575.00',
  '580.00',
  '518.40',
  '540.90',
  '428.02',
  '1,794,649'],
 ['Jun 1, 2016',
  '525.95',
  '624.00',
  '515.00',
  '573.45',
  '453.78',
  '4,828,694'],
 ['May 1, 2016',
  '486.00',
  '553.00',
  '458.00',
  '524.25',
  '414.85',
  '4,512,182'],
 ['Apr 1, 2016',
  '503.00',
  '512.20',
  '451.00',
  '489.25',
  '387.15',
  '5,721,185'],
 ['Mar 1, 2016',
  '417.20',
  '518.70',
  '417.20',
  '491.80',
  '389.17',
  '4,599,111'],
 ['Feb 1, 2016',
  '460.15',
  '471.85',
  '404.10',
  '420.60',
  '332.83',
  '3,902,946'],
 ['Jan 1, 2016',
  '498.80',
  '505.00',
  '435.00',
  '456.15',
  '360.96',
  '3,983,695'],
 ['Dec 1, 2015',
  '502.05',
  '514.90',
  '458.50',
  '497.55',
  '393.72',
  '3,026,285'],
 ['Nov 1, 2015',
  '474.45',
  '525.45',
  '462.05',
  '497.00',
  '393.29',
  '6,509,598'],
 ['Oct 1, 2015',
  '413.95',
  '534.35',
  '398.15',
  '474.40',
  '375.40',
  '10,390,773'],
 ['Sep 1, 2015',
  '420.00',
  '426.40',
  '396.25',
  '410.25',
  '324.64',
  '3,948,104'],
 ['Aug 25, 2015', '16.00 Dividend'],
 ['Aug 1, 2015',
  '424.50',
  '443.20',
  '365.00',
  '422.95',
  '321.66',
  '4,701,758'],
 ['Jul 1, 2015',
  '416.00',
  '441.25',
  '365.00',
  '420.20',
  '319.57',
  '4,375,339'],
 ['Jun 1, 2015',
  '374.90',
  '427.70',
  '361.05',
  '410.75',
  '312.38',
  '2,074,198'],
 ['May 1, 2015',
  '394.95',
  '396.50',
  '368.60',
  '369.75',
  '281.20',
  '1,903,119'],
 ['Apr 1, 2015',
  '387.00',
  '407.00',
  '381.15',
  '394.95',
  '300.37',
  '1,504,672'],
 ['Mar 1, 2015',
  '380.10',
  '420.90',
  '369.00',
  '385.40',
  '293.10',
  '3,408,288'],
 ['Feb 1, 2015',
  '360.20',
  '396.15',
  '331.10',
  '383.85',
  '291.92',
  '2,653,913'],
 ['Jan 1, 2015',
  '387.95',
  '396.80',
  '358.20',
  '362.55',
  '275.73',
  '1,497,809'],
 ['Dec 1, 2014',
  '401.05',
  '413.85',
  '340.05',
  '385.45',
  '293.14',
  '1,408,846'],
 ['Nov 1, 2014',
  '403.00',
  '417.65',
  '390.20',
  '404.20',
  '307.40',
  '1,124,946'],
 ['Oct 1, 2014',
  '430.00',
  '432.85',
  '384.90',
  '400.90',
  '304.89',
  '1,913,955'],
 ['Sep 1, 2014',
  '444.00',
  '463.90',
  '427.30',
  '429.10',
  '326.34',
  '2,790,215'],
 ['Aug 1, 2014',
  '452.35',
  '469.60',
  '420.15',
  '445.60',
  '338.89',
  '3,323,240'],
 ['Jul 16, 2014', '7.00 Dividend'],
 ['Jul 1, 2014',
  '425.50',
  '476.90',
  '403.05',
  '457.35',
  '342.24',
  '5,406,005'],
 ['Jun 1, 2014',
  '443.95',
  '462.00',
  '410.75',
  '425.65',
  '318.52',
  '3,426,612'],
 ['May 1, 2014',
  '412.70',
  '449.00',
  '372.10',
  '440.90',
  '329.93',
  '2,524,102'],
 ['Apr 1, 2014',
  '400.50',
  '435.00',
  '400.00',
  '412.70',
  '308.83',
  '1,964,547'],
 ['Mar 1, 2014',
  '385.10',
  '428.00',
  '374.50',
  '404.00',
  '302.32',
  '3,614,198'],
 ['Feb 1, 2014',
  '370.45',
  '407.95',
  '366.00',
  '387.85',
  '290.24',
  '2,766,303'],
 ['Jan 22, 2014', '17.00 Dividend'],
 ['Jan 1, 2014',
  '442.00',
  '444.95',
  '366.00',
  '370.45',
  '266.04',
  '2,764,796'],
 ['Dec 1, 2013',
  '396.00',
  '445.00',
  '370.00',
  '440.00',
  '315.99',
  '1,387,880'],
 ['Nov 1, 2013', '427.50', '429.95', '389.10', '399.45', '286.87', '657,997'],
 ['Oct 1, 2013',
  '439.95',
  '466.20',
  '421.00',
  '423.40',
  '304.07',
  '1,284,130'],
 ['Sep 1, 2013',
  '423.00',
  '452.25',
  '398.70',
  '438.75',
  '315.10',
  '2,019,164'],
 ['Aug 1, 2013',
  '397.00',
  '447.00',
  '362.00',
  '420.80',
  '302.20',
  '2,162,182'],
 ['Jul 1, 2013',
  '371.95',
  '440.00',
  '360.10',
  '400.85',
  '287.88',
  '2,050,809'],
 ['Jun 1, 2013',
  '492.00',
  '502.70',
  '347.35',
  '371.95',
  '267.12',
  '2,024,875'],
 ['May 1, 2013',
  '374.15',
  '514.05',
  '369.00',
  '487.20',
  '349.89',
  '5,370,107'],
 ['Apr 1, 2013', '389.05', '403.95', '352.80', '374.15', '268.70', '944,150'],
 ['Mar 1, 2013',
  '370.00',
  '408.00',
  '366.05',
  '391.60',
  '281.23',
  '1,914,425'],
 ['Feb 1, 2013',
  '370.00',
  '384.80',
  '337.20',
  '378.75',
  '272.01',
  '1,434,105'],
 ['Jan 17, 2013', '17.00 Dividend'],
 ['Jan 1, 2013',
  '384.55',
  '419.00',
  '344.70',
  '372.95',
  '256.45',
  '4,142,413'],
 ['Dec 1, 2012',
  '390.00',
  '411.90',
  '372.30',
  '384.40',
  '264.33',
  '2,873,152'],
 ['Nov 1, 2012',
  '394.95',
  '405.00',
  '373.90',
  '388.15',
  '266.90',
  '1,311,505'],
 ['Oct 1, 2012',
  '408.50',
  '430.00',
  '378.00',
  '387.05',
  '266.15',
  '4,880,698'],
 ['Sep 1, 2012',
  '381.00',
  '411.15',
  '369.45',
  '402.40',
  '276.70',
  '2,202,420'],
 ['Aug 1, 2012',
  '397.05',
  '416.40',
  '357.50',
  '384.60',
  '264.46',
  '2,164,110'],
 ['Jul 1, 2012',
  '373.85',
  '406.40',
  '366.10',
  '397.70',
  '273.47',
  '5,347,979'],
 ['Jun 1, 2012',
  '373.00',
  '379.90',
  '316.85',
  '370.00',
  '254.42',
  '4,665,870'],
 ['May 1, 2012',
  '369.00',
  '408.70',
  '363.70',
  '375.00',
  '257.86',
  '2,268,270'],
 ['Apr 1, 2012',
  '408.00',
  '419.60',
  '357.15',
  '369.30',
  '253.94',
  '2,164,571'],
 ['Mar 1, 2012',
  '432.55',
  '439.90',
  '358.65',
  '405.10',
  '278.56',
  '5,564,707'],
 ['Feb 16, 2012', '6.50 Dividend'],
 ['Feb 1, 2012',
  '377.55',
  '439.00',
  '363.95',
  '433.40',
  '287.94',
  '10,994,773'],
 ['Feb 15, 2012', '6.50 Dividend'],
 ['Jan 1, 2012',
  '300.00',
  '388.30',
  '299.10',
  '377.45',
  '250.77',
  '4,990,705'],
 ['Dec 1, 2011',
  '324.80',
  '354.50',
  '295.30',
  '300.75',
  '199.81',
  '5,814,026'],
 ['Nov 1, 2011',
  '342.00',
  '358.00',
  '278.25',
  '324.80',
  '215.79',
  '6,689,364'],
 ['Oct 1, 2011',
  '337.25',
  '350.70',
  '310.10',
  '343.70',
  '228.35',
  '3,035,315'],
 ['Sep 1, 2011',
  '353.90',
  '366.25',
  '277.85',
  '343.75',
  '228.38',
  '6,234,550'],
 ['Aug 1, 2011',
  '454.40',
  '459.50',
  '306.20',
  '353.90',
  '235.13',
  '12,269,428'],
 ['Jul 1, 2011',
  '424.60',
  '475.90',
  '420.10',
  '448.45',
  '297.94',
  '5,518,927'],
 ['Jun 1, 2011',
  '469.10',
  '488.00',
  '418.95',
  '434.50',
  '288.68',
  '3,908,655'],
 ['May 1, 2011',
  '470.95',
  '482.05',
  '403.35',
  '468.30',
  '311.13',
  '7,515,940'],
 ['Apr 1, 2011',
  '406.15',
  '479.80',
  '403.00',
  '468.10',
  '311.00',
  '7,592,412'],
 ['Mar 1, 2011',
  '443.00',
  '474.80',
  '373.60',
  '415.25',
  '275.89',
  '24,338,997'],
 ['Feb 10, 2011', '4.00 Dividend'],
 ['Feb 1, 2011',
  '674.65',
  '695.00',
  '421.10',
  '431.50',
  '284.90',
  '20,206,049'],
 ['Jan 1, 2011',
  '681.00',
  '711.40',
  '637.50',
  '674.65',
  '445.44',
  '6,336,609'],
 ['Dec 1, 2010',
  '612.00',
  '696.00',
  '575.55',
  '672.80',
  '444.22',
  '6,493,447'],
 ['Nov 1, 2010',
  '614.45',
  '625.80',
  '546.75',
  '610.85',
  '403.32',
  '11,253,746'],
 ['Oct 1, 2010',
  '628.00',
  '672.00',
  '601.15',
  '610.40',
  '403.02',
  '6,349,739'],
 ['Sep 1, 2010',
  '624.60',
  '667.95',
  '615.60',
  '621.70',
  '410.48',
  '8,582,596'],
 ['Aug 1, 2010',
  '592.00',
  '637.20',
  '567.25',
  '620.80',
  '409.89',
  '12,236,547'],
 ['Jul 1, 2010',
  '555.00',
  '644.80',
  '554.20',
  '590.85',
  '390.11',
  '8,653,653'],
 ['Jun 1, 2010',
  '570.00',
  '613.00',
  '543.20',
  '563.50',
  '372.05',
  '11,652,541'],
 ['May 1, 2010',
  '672.00',
  '696.30',
  '560.00',
  '571.85',
  '377.57',
  '12,794,610'],
 ['Apr 1, 2010',
  '621.00',
  '687.20',
  '615.00',
  '680.75',
  '449.47',
  '12,153,769'],
 ['Mar 1, 2010',
  '662.95',
  '689.00',
  '610.00',
  '620.45',
  '409.66',
  '14,590,403'],
 ['Feb 10, 2010', '3.50 Dividend'],
 ['Feb 1, 2010',
  '657.25',
  '780.00',
  '655.50',
  '662.95',
  '435.60',
  '14,275,342'],
 ['Jan 1, 2010',
  '723.00',
  '753.00',
  '634.00',
  '678.60',
  '445.88',
  '13,212,479'],
 ['Dec 1, 2009',
  '687.00',
  '748.20',
  '662.05',
  '724.20',
  '475.84',
  '16,325,972'],
 ['Nov 1, 2009',
  '674.00',
  '796.50',
  '644.50',
  '677.00',
  '444.83',
  '21,137,100'],
 ['Oct 1, 2009',
  '660.00',
  '705.90',
  '605.25',
  '675.60',
  '443.91',
  '15,836,455'],
 ['Sep 1, 2009',
  '596.10',
  '672.55',
  '552.40',
  '666.90',
  '438.19',
  '21,532,714'],
 ['Aug 1, 2009',
  '480.00',
  '604.00',
  '460.30',
  '556.80',
  '365.85',
  '31,046,790'],
 ['Jul 1, 2009',
  '393.00',
  '504.95',
  '332.00',
  '477.00',
  '313.42',
  '15,856,357'],
 ['Jun 1, 2009',
  '338.00',
  '416.05',
  '283.40',
  '387.15',
  '254.38',
  '9,185,797'],
 ['May 1, 2009',
  '224.50',
  '342.00',
  '218.10',
  '336.90',
  '221.36',
  '9,205,503'],
 ['Apr 1, 2009',
  '199.15',
  '242.40',
  '195.10',
  '224.50',
  '147.51',
  '4,570,680'],
 ['Mar 1, 2009',
  '165.90',
  '210.00',
  '162.75',
  '203.25',
  '133.55',
  '15,219,804'],
 ['Feb 1, 2009',
  '149.00',
  '178.85',
  '141.00',
  '168.50',
  '110.71',
  '4,992,712'],
 ['Jan 22, 2009', '2.00 Dividend'],
 ['Jan 1, 2009', '158.80', '175.00', '141.85', '149.85', '97.15', '2,329,662'],
 ['Dec 1, 2008',
  '155.50',
  '174.95',
  '138.25',
  '155.60',
  '100.87',
  '2,073,207'],
 ['Nov 1, 2008', '160.25', '175.35', '146.50', '151.90', '98.48', '3,789,880'],
 ['Oct 1, 2008',
  '191.50',
  '201.90',
  '115.60',
  '160.60',
  '104.12',
  '3,060,143'],
 ['Sep 1, 2008',
  '240.00',
  '253.00',
  '165.00',
  '187.90',
  '121.81',
  '4,093,270'],
 ['Aug 1, 2008',
  '207.50',
  '247.00',
  '203.05',
  '242.80',
  '157.40',
  '4,822,440'],
 ['Jul 16, 2008', '3.30 Dividend'],
 ['Jul 1, 2008',
  '213.05',
  '220.00',

In [36]:
filename = "mphasis_stk.csv"
with open(filename, "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(headers)
    writer.writerows(rows)

print(f"Data saved to {filename}")

Data saved to mphasis_stk.csv

In [47]:
data = pd.read_csv("persistent_stk.csv", parse_dates=["Date"], dayfirst=True)
data.set_index("Date", inplace=True)
data.head()

,Open,High,Low,Close Close price adjusted for splits.,Adj Close Adjusted close price adjusted for splits and dividend and/or capital gain distributions.,Volume
Date,,,,,,
2025-02-21,"5,925.00","5,937.40","5,680.00","5,710.30","5,710.30","335,438"
2025-02-01,"6,047.75","6,303.95","5,388.50","5,917.90","5,917.90","5,476,500"
2025-01-31,20.00 Dividend,NaN,NaN,NaN,NaN,NaN
2025-01-01,"6,457.65","6,527.85","5,445.00","6,032.60","6,012.68","15,093,715"
2024-12-01,"5,905.65","6,788.90","5,853.65","6,457.70","6,436.38","9,893,453"

In [53]:
closing_prices = data['Close      Close price adjusted for splits.'].str.replace(",", "").astype(float)
yearly_prices = closing_prices.resample('YS-APR').last()
returns = yearly_prices.pct_change() * 100
returns.name = "stk_Return"
result = pd.concat([yearly_prices, returns], axis=1).dropna()
result

            Close      Close price adjusted for splits.  stk_Return
Date
2014-04-01                                       357.15   36.129745
2015-04-01                                       381.08    6.700266
2016-04-01                                       297.85  -21.840558
2017-04-01                                       347.02   16.508310
2018-04-01                                       314.77   -9.293412
2019-04-01                                       275.48  -12.482130
2020-04-01                                       961.03  248.856541
2021-04-01                                      2382.65  147.926704
2022-04-01                                      2304.75   -3.269469
2023-04-01                                      3984.55   72.884261
2024-04-01                                      5710.30   43.311039

In [56]:
data = pd.read_csv("mphasis_stk.csv", parse_dates=["Date"], dayfirst=True)
data.set_index("Date", inplace=True)
data.head()
closing_prices = data['Close      Close price adjusted for splits.'].str.replace(",", "").astype(float)
yearly_prices = closing_prices.resample('YS-APR').last()
returns = yearly_prices.pct_change() * 100
returns.name = "stk_Return"
result2 = pd.concat([yearly_prices, returns], axis=1).dropna()
result2 = result2[result2.index > "2013-04-01"]
result2

            Close      Close price adjusted for splits.  stk_Return
Date
2014-04-01                                       385.40   -4.603960
2015-04-01                                       491.80   27.607680
2016-04-01                                       579.90   17.913786
2017-04-01                                       837.75   44.464563
2018-04-01                                       991.10   18.304984
2019-04-01                                       664.45  -32.958329
2020-04-01                                      1776.50  167.363985
2021-04-01                                      3376.85   90.084436
2022-04-01                                      1795.75  -46.821742
2023-04-01                                      2388.05   32.983433
2024-04-01                                      2567.55    7.516593

In [62]:
result.columns

Index(['Close      Close price adjusted for splits.', 'PERSISTENT_Return'], dtype='object')

In [64]:
result2 = result2.rename(columns={'Close      Close price adjusted for splits.': 'MPHASIS.NS', 'stk_Return': 'MPHASIS_Return'})
result = result.rename(columns={'Close      Close price adjusted for splits.': 'PERSISTENT.NS', 'stk_Return': 'PERSISTENT_Return'})
final = pd.concat([result,result2],axis=1)
final

            PERSISTENT.NS  PERSISTENT_Return  MPHASIS.NS  MPHASIS_Return
Date
2014-04-01         357.15          36.129745      385.40       -4.603960
2015-04-01         381.08           6.700266      491.80       27.607680
2016-04-01         297.85         -21.840558      579.90       17.913786
2017-04-01         347.02          16.508310      837.75       44.464563
2018-04-01         314.77          -9.293412      991.10       18.304984
2019-04-01         275.48         -12.482130      664.45      -32.958329
2020-04-01         961.03         248.856541     1776.50      167.363985
2021-04-01        2382.65         147.926704     3376.85       90.084436
2022-04-01        2304.75          -3.269469     1795.75      -46.821742
2023-04-01        3984.55          72.884261     2388.05       32.983433
2024-04-01        5710.30          43.311039     2567.55        7.516593

In [65]:
final.to_csv('mid_cap_stock.csv')

***
***