# INDIAN IT Companies: Revenue VS Stock Price Analysis

The Indian IT sector is a major contributor to the country’s economy, with companies like TCS, Infosys, and Wipro playing a significant role in global technology services. 

## GOAL
This project investigates the relationship between revenue growth and stock price movements of major Indian IT firms over the past decade. By analyzing historical financial data and stock market trends, this study aims to determine how strongly revenue growth influences stock performance. Additionally, the project examines the impact of key events—such as earnings reports, global recessions, and AI adoption—on IT stock prices.

## Research Questions:
1. How strongly does revenue growth impact stock prices of major Indian IT firms?
2. How do major events (earnings reports, global recessions, AI adoption) influence IT stock prices?

***
This project will analyze **three large-cap and two mid-cap Indian IT companies**, selected for their readily available, regular, and detailed financial reports. This ensures reliable data for assessing the correlation between revenue growth and stock price movements.

#### LARGE-CAP IT FIRMS (Market Cap < \\$10 Billion)
- Tata Consultancy Services (TCS)
- Infosys
- Wipro

#### MID-CAP IT FIRMS (\\$2 Billion < Market Cap < \\$10 Billion)
- Persistent Systems
- Mphasis
***
### DATA COLLECTION
The revenues and revenue growth rate of the companies was collected from respective annual reports

In [4]:
import yfinance as yf
import pandas as pd

In [20]:
tickets = ["TCS.NS", "INFY.NS", "WIPRO.NS"]
start_date = "2013-04-01"
end_date = "2025-03-31"

In [21]:
data = yf.download(tickets,start=start_date,end=end_date)

[*********************100%***********************]  3 of 3 completed

In [22]:
closing_prices = data['Close']
yearly_prices = closing_prices.resample('YS-APR').last()
returns = yearly_prices.pct_change() * 100
returns.columns = ["TCS_Return", "INFY_Return", "WIPRO_Return"]
result = pd.concat([yearly_prices, returns], axis=1)
result = result.dropna()
result

,INFY.NS,TCS.NS,WIPRO.NS,TCS_Return,INFY_Return,WIPRO_Return
Date,,,,,,
2014-04-01,426.816986,1054.946655,105.917091,38.063461,21.595681,18.854497
2015-04-01,480.294159,1057.828979,98.330406,12.529298,0.273220,-7.162853
2016-04-01,412.069702,1039.676514,90.426605,-14.204723,-1.716011,-8.038003
2017-04-01,469.689941,1241.495850,99.243690,13.983129,19.411743,9.750543
2018-04-01,632.609375,1768.772583,120.578621,34.686592,42.471083,21.497518
2019-04-01,570.777344,1680.097778,93.478180,-9.774125,-5.013353,-22.475328
2020-04-01,1247.051758,2957.091064,197.704391,118.483051,76.007081,111.497904
2021-04-01,1772.524414,3517.693604,283.479218,42.137197,18.957906,43.385392
2022-04-01,1356.077148,3113.397705,178.304642,-23.494586,-11.493210,-37.101336
2023-04-01,1460.432129,3820.962891,235.372940,7.695357,22.726463,32.006064
2024-04-01,1856.400024,3934.850098,308.100006,27.113064,2.980589,30.898652

In [23]:
result.to_csv("large_cap_stock.csv")

***